@page "/DeleteCarroCombustao"

<h3>Excluir Carro a Combustão</h3>

<label for="modelo" class="form-label">Placa do carro que será deletado:</label><br>
<input type="text" class="form-control" id="modelo" @bind="Placa" required><br>
<button class="btn btn-danger" @onclick="ExcluirCarro">Excluir</button>

@code {
    [Parameter]
    public string Placa { get; set; }
    private readonly ApiService apiService = new ApiService(new HttpClient());

    private async Task ExcluirCarro()
    {
        try
        {
            var success = await apiService.DeleteCarroCombustao(Placa);
        }
        catch(Exception)
        {
            Console.WriteLine($"Erro ao deletar o Carro de placa: {Placa}");
        }
    }
}
