@inject IJSRuntime JSRuntime

@page "/DeleteCarroCombustao"

<h3>Excluir um Carro</h3><br>

<label for="modelo" class="form-label">Placa do carro que será deletado:</label><br>
<input type="text" class="form-control" id="modelo" @bind="Placa" required><br>
<button class="btn btn-danger" @onclick="ExcluirCarro">Excluir</button>

@code {
    [Parameter]
    public string Placa { get; set; }
    private readonly ApiService apiService = new ApiService(new HttpClient());

    private async Task ExcluirCarro()
    {
        try
        {
            if(await apiService.DeleteCarroCombustao(Placa))
            {
                await JSRuntime.InvokeVoidAsync("alert", "Carro deletado com sucesso!");
            }
            else
            {
                Console.WriteLine($"Erro ao deletar o Carro de palca: {Placa}.");
            }
        }
        catch(Exception)
        {
            Console.WriteLine($"Erro ao deletar o Carro de placa: {Placa}");
        }
    }
}
