@page "/GetCarroCombustao"
@inject ApiService ApiService

<h3>Listar Carros Existentes</h3><br>

@if (modelos != null)
{
    foreach (var modelo in modelos)
    {
        <p>@modelo</p>
    }
}

<button class="btn btn-primary" @onclick="CarregarModelos">Carregar Modelos</button>

@code {
    private List<string> modelos;

    private async Task CarregarModelos()
    {
        try
        {
            modelos = await ApiService.GetCarroCombustao();
        }
        catch(Exception)
        {
            Console.WriteLine("Erro ao retornar os Modelos dos Carros");
        }
    }
}

